.container {
	display: inline-grid;
	-position: relative;
	cursor: pointer;
}

.icon, .value {
	grid-area: 1 / 1 / 2 / 2;
}

.icon {
	visibility: hidden;
	display: none;
	align-items: center;
	justify-content: center;
}

.container:hover .icon {
	visibility: visible;
}

.icon svg {
	display: block;
	height: 0.8em;
	width: auto;
}

.container:hover .value {
	opacity: 0.2;
}
