.button, .input {
	display: inline-block;
	box-sizing: border-box;
	font-size: inherit;
	font-family: inherit;
	background-color: var(--body);
	border: 2px solid currentColor;
	padding: 2px var(--spacing);
}

.button {
	border-radius: 6px;
	cursor: pointer;
}

.button:active {
	color: var(--gray);
}

.icon.button svg {
	display: block;
}

.input {
	border-radius: 3px;
	padding: 2px 4px;
}
