.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.black {
	background-color: var(--black);
}

.ored {
	background-color: rgba(255, 0, 0, 0.7);
}

.white {
	background-color: var(--white);
}
