.form {
	display: grid;
	grid-template-rows: auto auto;
	gap: var(--gap);
	padding: var(--gap) 0;
}

@supports (padding: max(0px)) {
	.tableau {
		padding-bottom: max(var(--gap), env(safe-area-inset-bottom));
	}
}

.form label {
	display: block;
	width: var(--col);
	flex-shrink: 0;
}

.form [type=submit] {
	min-width: 20ch;
}
