.container {
	flex: 1 1 auto;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
}

.container div:not(:last-child) {
	color: var(--gray);
}

.total {
	display: inline-block;
	margin: 0 auto;
	padding: 2px 0.5em;
	border-top: 1px solid var(--gray);
	font-weight: bold;
}
