:root {
	--red: #6b0504;
	--black: #333;
	--gray: #999;
	--white: white;

	--text: var(--black);
	--body: var(--white);

	--spacing: 0.5rem;
	--max-width: 800px;

	--col: 6ch;
	--col-gap: 16px;

	--base-size: 16px;
	--font-plain: Arial, sans-serif;
	--font-fancy: 'Caveat', 'Brush Script MT', cursive;
}

/* --font-plain: 'M PLUS 1', sans-serif; */

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: var(--white);
    --body: var(--black);
  }
} */

body {
	margin: 0;
	background-color: var(--body);
	color: var(--text);
	font-size: var(--base-size);
	font-family: var(--font-plain);
}

/* 
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
	body {
		background-color: red;
	}
} */

.darken {
	background-color: rgba(0, 0, 0, 0.1);
}

.viewport-height {
	height: 100vh;
	height: -webkit-fill-available;
}

.mza {
  margin: 0 auto;
}

.trim {
	overflow: hidden;
}

.col-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 100vw;
	gap: var(--col-gap);
	/* overflow: hidden; */
}

.app-col {
	min-width: var(--col);
	text-align: center;
	overflow-x: hidden;
	overflow-y: auto;

	/* child behavior */
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading {
	font-size: 200%;
	text-decoration: underline;
}

.fancy {
	font-family: var(--font-fancy);
	white-space: nowrap;

	/* prevent weird clipping */
	padding-inline-end: 0.2em;
}

.fancy.brief {
	padding-inline-start: 0.2em;
}
